/*  ACIKLAMA SATIRI */

body {
    background-color: rgb(90, 87, 87);
    color: white;
    /* font-family: "Times New Roman", Times, serif; */
    font-family: 'Montserrat', sans-serif; /* HTML HEAD BOLUMUNE LINK ILE EKLENDI. */
}

p {
    color:rgb(50, 196, 6);
    background-color: coral;
    font-size: 64px;
    text-transform: uppercase; /*Tum harfleri buyuk yapar.*/
}     